/* Home.css */

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  /* Animation */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Paragraph style */
  .welcome {
    /* background-color: #131720; */
    color: white;
    /* border: solid 5px; */
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    margin-top: 40px;
    margin-left: 520px;
    width: 400px
  }

  .parag {
    /* background-color: white; */
    /* border: solid; */
    /* border-color:#131720; */
    color: white;
    font-family: 'Poppins';
    font-size: 20px;
    /* text-align: center; */
    animation: fadeIn 2s ease-in-out;
  }
  